name: Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - name: Build package
        run: |
          uv run scripts/program-data gen-program-data
          uv build
      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: >-
            ghcr.io/mrflynn/duckdb-upgrade:latest,
            ghcr.io/mrflynn/duckdb-upgrade:${{ github.ref_name }}
